
table,td,th{
    border: 1px solid grey;
    border-collapse: collapse;
    color: black;
    text-align: center;

}
h3.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    color: rgb(216, 0, 0);
    padding: 2px;
    text-align: center;
    font-weight: bold;
}
caption{
    background-color: blueviolet;
    padding-block: 5px;
    color: cornsilk;
    font-weight: bolder;
}
th{
    background-color: rgb(0, 0, 0);
    color:white;
    padding: 2px;
    
}
body{
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 20%;
    
}
tr{
    background-color:white;
}
tr.first{
    background-color:  #f2f2f2;;
}
tr:hover{background-color:lightblue;}
marquee{
    font-family: sutunnymj;
    color:white;
}